.home-banner {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 23.94rem;
}
.bg-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-image: url(/assets/home-bg.jpg);
}
.dimmed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0,0,0,0.4);
}
.content-layout {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}
.description {
  float: left;
  margin-top: 5.313rem;
}
p.text {
  margin: 0.375rem 0px 1.875rem;
  font-size: 2.9rem;
  font-weight: 700;
  line-height: 4.5rem;
  letter-spacing: -0.5px;
  color: #ffffff;
}
a[role=button] {
  padding: 0.75rem 1.375rem;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: -0.5px;
  background-color: rgba(255,255,255,0);
  border: 1px solid #ffffff;
  border-radius: 2px;
  color: #ffffff;
}
@media (max-width: 600px){
  .home-banner {
    height: 190px;
  }
  .bg-item {
    background-position: center center;
    background-image: url(/assets/home-bg.jpg);
  }
  .description {
    margin-top: 32px;
  }
  p.text {
    margin: 0.375rem 0px 1.875rem;
    font-size: 1.75rem;
    line-height: 2.313rem;
  }
  .dimmed a[role=button] {
    font-size: 0.875rem;
    padding: 0.5rem 0.875rem;
  }
}
main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

.nav {
  box-shadow: 0 2px 2px -2px $shadow-color;
  overflow: auto;

  &-container {
    margin: 1rem auto;
    position: relative;
    text-align: center;
  }

  &-title {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    opacity: .6;
    padding: 0 2rem 0 0;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  a {
    color: $default-color;
    font-family: 'Noto Sans', 'Noto Sans CJK', sans-serif;
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

footer {
  font-family: 'Noto Sans', 'Noto Sans CJK', sans-serif;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}